<!DOCTYPE html>
<html>

    <head>
        <title>altaUsuarioNoGuia</title>
    </head>
    <body>
        <header></header>
        <main>
            <h1>Alta Usuario NO Guia</h1>
            <form th:action="@{/altausuario}" th:object = "${u1}" method = "post">
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">DNI</label>
                    <input type="text" th:field="*{dni_user}" />
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">NOMBRE</label>
                    <input type="text" th:field="*{nombre_user}" />
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">APELLIDO 1</label>
                    <input type="text" th:field="*{apellido_user_1}" />
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">APELLIDO 2</label>
                    <input type="text" th:field="*{apellido_user_2}" />
                </div>

                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">CIUDAD DE RESIDENCIA</label>
                    <input type="text" th:field="*{ciudad_residencia}" />
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">IDIOMAS(escribelos separados por comas)</label>
                    <input type="text" th:field="*{idiomas}" />
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">email</label>
                    <input type="email" th:field="*{email}" />
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">Contraseña</label>
                    <input type="password" th:field="*{contraseña}" />
                </div>
                <div class="col-6 ">
                    <button type="submit" class="btn btn-primary" >Sign in</button>
                    
                </div>
                <div class="col-6">
                    <button type="reset" value="Reset">RESET</button>
                </div>
            </form>
        </main>
        <a href="crud">Volver?</a>
        <footer></footer>
    </body>

</html>